<div class="row">
<div class="span12">

<div class="widget ">
<div class="widget-header">
<i class="icon-plus"></i>
<h3>添加worker</h3>
</div>

<div class="widget-content">

<div class="alert alert-danger hide" role="alert"></div>

<form id="add-worker" method="post" class="form-horizontal">
<fieldset>

<div class="control-group">
    <label class="control-label" for="worker_name">机器名</label>
    <div class="controls">
        <input type="text" name="worker_name" class="span6" id="worker_name" value="{{.worker.Name}}">
    </div>
</div>

<div class="control-group newhide">
    <label class="control-label">机器标识</label>
    <label>{{.worker.Key}}</label>
</div>

<div class="control-group newhide">
    <label class="control-label">状态</label>
    <label>{{.worker.Status}}</label>
</div>

<div class="control-group newhide">
	<label class="control-label">系统</label>
    <label>{{.worker.SystemInfo}}</label>
</div>

<div class="control-group newhide">
    <label class="control-label">IP地址</label>
    <label>{{.worker.Ip}}</label>
</div>

<div class="control-group newhide">
    <label class="control-label">端口</label>
    <label>{{.worker.Port}}</label>
</div>

<div class="control-group">
    <label class="control-label" for="worker_note">说明</label>
    <div class="controls">
        <textarea name="worker_note" class="span6" id="worker_note" rows="6" value="{{.worker.Note}}"></textarea>
    </div>
</div>

<br />


<div class="form-actions">
<button type="submit" class="btn btn-primary btn-save">保 存</button>
<a href="{{urlfor "WorkerController.List"}}" class="btn">返 回</a>
</div>
</fieldset>
</form>

</div>
</div>
</div>
</div>

<script>
$(function () {
	var isview = {{.worker.isview}};
	if (isview != 1) {
		$(".newhide").hide();
	}
	
    $(".btn-save").on("click", function () {
        $(".alert").hide();
        $(this).attr('disabled', true);
        UI.ShowLoading();

        $.ajax({
            url: "/worker/savework" + "?random="+ new Date(),
            type: "POST",
            async: true,
            data: {
                "worker_name": $("#worker_name").val(),
				"worker_note": $("#worker_note").val()
            },
            success: function (result) {
                if (result.status == 0) {
                    window.location.href = '/worker/list';
                } else {
                    UI.HideLoading();

                    $(".alert").text(result.msg).show();
                    $(".btn-save").attr('disabled', false);
                }
            },
            error: function() {
                UI.HideLoading();
                $(".alert").text("保存任务失败，等会请重试").show();

                $(".btn-save").attr('disabled', false);
            }
        });
    });
});
</script>